
@media screen and (max-width: 992px){
    body{
        font-size: 1rem;
    }
    .container{
        margin: 40px;
    }
    .navigation{
        display: none;
    }
    .picture-holder{
        padding-top: 30px;
    }
    .small-navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        margin: 0;
        background: gainsboro;
        width: 100%;
    }
    .small-navigation input{
        width: 80%;
    }
    .tagline-text{
        font-size: 1rem;
    } 
    .become-a-host{
        flex-direction: column;
        height: auto;
    }
    .become-a-host-card{
        height: auto;
        padding: 20px;
        margin-top: 0;
    }
    .become-a-host img{
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    .footer{
        display: flex;
        flex-direction: row;
        padding: 40px 40px 10px 40px;
    }
    .footer a{
        padding: 5px 5px 5px 0;
        color: gray;
    }
}

@media screen and (max-width: 768px){
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-card{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    body{
        font-size: 0.7rem;
    }
    .container{
        margin: 20px;
    }
    .navigation{
        display: none;
    }
    .picture-holder{
        padding-top: 30px;
    }
    .small-navigation{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0px;
        margin: 0;
        background: transparent;
        width: 100%;
    }
    .small-navigation input{
        width: 80%;
    }
    .tagline-text{
        font-size: 1rem;
    } 
    .become-a-host{
        flex-direction: column;
        height: auto;
    }
    .become-a-host-card{
        height: auto;
        padding: 20px;
        margin-top: 0;
    }
    .become-a-host img{
        width: 100%;
        border-radius: 0 0 20px 20px;
    }
    .inspiration-button-holder{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        scrollbar-width: none;
    }
    .inspiration-button-holder::-webkit-scrollbar{
        display: none !important;
    }
    .inspiration-button{
        width: 300px;
    }
    .footer{
        font-size: 0.7rem;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .footer-card{
        width: 100% !important;
        margin-top: 20px;
    }
}

